body {
	background-color: #cccccc;
	font-family: arial,helvetica,sans-serif;
}

.div .span{
	font-size:12px;
}

.bookHeadline {
	font-size: 12pt;
	font-weight: bold;
}

.bookDescription {
	font-size: 10pt;
}

label {
	font-weight: bold;
}