<html xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<a target="_blank" href="http://www.ruc.edu.cn/"><h1><span th:text="${local.localname}"></span></h1></a>
<div><span th:text="${local.province}"></span>省
    <span th:text="${local.province}"></span>市
    <span th:text="${local.street}"></span>
</div>

<h2>历史起源</h2>
<div class="para-title level-2" label-module="para-title">
    <h2 class="title-text"><span class="title-prefix">模板</span>基本信息</h2>
    <a class="edit-icon j-edit-link" data-edit-dl="1" href="javascript:;" style="display: block;"><em
            class="cmn-icon wiki-lemma-icons wiki-lemma-icons_edit-lemma"></em>编辑</a>
</div>
</body>

</html>